@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --teal-400: #2da8b8;
    --teal-500: #2896a5;
    --teal-600: #238492;
    --teal-700: #1e727f;
    --teal-800: #195a65;
    --teal-900: #14474f;
}

body {
    background: #14474f;
    min-height: 100vh;
}
