@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --teal-400: #309898;
    --teal-500: #2a8585;
    --teal-600: #247272;
    --teal-700: #1e5f5f;
    --teal-800: #184c4c;
    --teal-900: #123939;
}

body {
    background: linear-gradient(135deg, #123939 0%, #1e5f5f 50%, #184c4c 100%);
    min-height: 100vh;
}
